body::-webkit-scrollbar{
  display: none;
}

  /* width */
::-webkit-scrollbar {
  width: 10px;
  height: 20px;
  margin-right: 2px;
} 

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d5d5d; 
} 